
.Backbody
{
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  font-family: 'Inter', sans-serif; 
  border: none;
  

  
}

.rgform{
  max-width: 700px;
  width:100%;
  
  background: white;
  padding: 25px 35px;
  border-radius: 5px;
  background-color: #FEFDFF;
  box-shadow: 0px 0px 3px rgba(72, 196, 129, 0.4);
  
}

.rgform .title{
  font-size: 28px;
  font-weight: 900;
  position: relative;

}

.rgform form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
  
  
}

form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(50%-20px);
 

}


.user-details .input-box .details
{ 
  font-weight: 500;
  margin-bottom: 5px;
}
.user-details .input-box input{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 0.5px solid #ccc ;
  
  padding-left: 15px;
  font-size: 16px;
  

}

.user-details .input-box select{
  height: 45px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 0.5px solid #ccc;
  
  padding-left: 15px;
  font-size: 16px;

  transition:all 0.3s ease;

}



form .Button{
  height: 45px;
  margin: 45px 0;
}

form .Button button{
  height: 100%;
  width: 100%;
  outline: none;
  color:#fff;
  border:0.5px solid #ccc;
  background-color: #1da1f2;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 10px;
  letter-spacing: 1px;
  



}

form .Button button:hover{
  
}

@media (max-width:584px){
  .rgform{
    max-width: 700px;

  }
  form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  .rgform form .user-details{
    max-height: 300px;
    overflow-y: scroll ;
  }

  .user-details::-webkit-scrollbar{
    width: fit-content;
  }
}






.r{
  flex:50%;
}
.l{
  flex:50%;
}