

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  /* display: flex; */
  justify-content: space-between;
  /* flex-direction:; */
  /* background-color: white; */
}
.mainPage{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

}
body{
  padding: 0%;
  margin: 0%;
}
.Profile{
  height: 20px;
  display: flex;
  flex-wrap: wrap;
  /* flex-direction:; */
}

